.tabWrap {
  padding-top: 50px;
  text-align: center
}

// 리스트 스타일
ol, ul { 
	list-style: none;
	margin: 0;
  padding: 0;
} 

table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}

.cardWrap {
  flex:1;
}

.list li {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.liCard, .liDetail {
  display: block;
  width: auto;
  padding: 0;
}
.liCard {
  position: relative;
  border: solid 1px #4b3790;
  border-top-width: 6.6px;
  width: 384px;
  height: 280.3px;
  justify-content: center;
  padding: 31px 0px 0px 44.8px ;
  margin-bottom: 23px;
}
.star {
  position: absolute;
  right: 24.3px;
  padding: 3px;
}

.liCardTitle {
  padding: 0 0 20px 0 ;
}
.liCardTitle h1 {
  width: 273px;
  margin: 0;
  font-size: 20px;
}
.liCardTitle h2 {
  margin: 0;
  font: 12px normal;
  color: rgb(112, 112, 112);
}
.liDetail {
  padding: 8px 0;
  font: 15px normal;
  color: rgb(112, 112, 112);
  vertical-align: middle;
}
.liDetail span {
  display: inline-block;
  width: 68px;
}
.liDetail div {
  display: inline-block;
  width: 2px;
  height: 13px;
  background-color: #3a247a;
  margin-right: 16px;
}
.liDetail text {
  font: 15px normal;
  color: rgb(0,0,0);
}

@media all and (min-width: 860px) {
  .tab {
    max-width: 820px;
    margin: auto;
    text-align: left;
  }
  .list {
    padding: 20px;
    max-width: 860px;
    margin: 0 auto;
    overflow: hidden;
  }
  .list li {
    float: left;
    background: none;
    border: 0;
  }
}

@media all and (min-width: 860px) {
  .list li {
    width: 50%;
  }
}

@media all and (min-width: 1280px) {
  .tab {
    max-width: 1230px;
    margin: auto;
    text-align: left;
  }
  .list {
    padding: 20px;
    max-width: 1270px;
    margin: 0 auto;
    overflow: hidden;
  }
  .list li {
    float: left;
    background: none;
    border: 0;
  }
}

@media all and (min-width: 1280px) {
  .list li {
    width: 33.33333333%;
  }
}