.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabWrap {
  max-width: 1500px;
  width: 100%;
  padding-top: 50px;
  text-align: center
}

.tab {
  padding: 0 30px;
  margin: auto;
  text-align: left;
}

.listWrap {
  max-width: 1500px;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardWrap {
  padding: 30px;
}
